In [1]:
# import libraries used for data cleaning
import pandas as pd
from pathlib import Path

In [2]:
# pull raw csv data
csv = Path("personal_income_raw.csv")

In [3]:
# check head and tail to see what rows need to be excluded
df = pd.read_csv(csv, header=4) # start at row 4 where columns start
df.tail(15)

,GeoFips,GeoName,2000,2001,2002,2003,2004,2005,2006,2007,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
379,49340,"Worcester, MA-CT (Metropolitan Statistical Area)",27874828.0,28933044.0,29035332.0,30154614.0,31774356.0,33004787.0,35107114.0,36979079.0,...,39446298.0,41422821.0,43183106.0,43124790.0,44891417.0,47157582.0,48573112.0,50305783.0,52207397.0,54204431.0
380,49420,"Yakima, WA (Metropolitan Statistical Area)",5019710.0,5144282.0,5211052.0,5577201.0,5830565.0,5917595.0,6163350.0,6766583.0,...,7829612.0,8333437.0,8824822.0,8828355.0,9371247.0,9756483.0,10013091.0,10434635.0,11001031.0,11479279.0
381,49620,"York-Hanover, PA (Metropolitan Statistical Area)",11154009.0,11509110.0,11778862.0,12454034.0,13738296.0,14765850.0,15183136.0,16608860.0,...,17537523.0,18076311.0,18368933.0,18359096.0,18908619.0,19792567.0,20489705.0,21367688.0,22342240.0,23164517.0
382,49660,"Youngstown-Warren-Boardman, OH-PA (Metropolita...",14990751.0,15549028.0,15781882.0,16326317.0,16751141.0,17194841.0,18119937.0,18549929.0,...,18590681.0,19801916.0,20170938.0,20194642.0,20811376.0,21386119.0,21562579.0,21999089.0,22742602.0,23140742.0
383,49700,"Yuba City, CA (Metropolitan Statistical Area)",3280919.0,3405713.0,3577677.0,3855444.0,4157564.0,4406327.0,4803055.0,5146791.0,...,5588084.0,5782548.0,5798480.0,6050781.0,6264491.0,6773110.0,7027920.0,7200914.0,7593081.0,8041182.0
384,49740,"Yuma, AZ (Metropolitan Statistical Area) *",2884843.0,3064465.0,3320946.0,3587939.0,4015060.0,4281382.0,4529461.0,4858732.0,...,5368937.0,5672331.0,5611615.0,5886587.0,5989668.0,6435455.0,6741154.0,7116699.0,7408956.0,7818246.0
385,Legend / Footnotes:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
386,"* Cibola, NM was separated from Valencia in Ju...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
387,"* La Paz County, AZ was separated from Yuma Co...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
388,"* Broomfield County, CO, was created from part...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
389,* Estimates for 1979 forward reflect Alaska Ce...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
390,* Virginia combination areas consist of one or...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
391,Metropolitan Areas are defined (geographically...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
392,Note. All dollar estimates are in thousands of...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
393,"Last updated: November 17, 2020-- new statisti...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# remove last 9 columns that are not needed in data
df.drop([385, 386, 387, 388, 389, 390, 391, 392, 393], inplace=True)
df.tail()

,GeoFips,GeoName,2000,2001,2002,2003,2004,2005,2006,2007,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
380,49420,"Yakima, WA (Metropolitan Statistical Area)",5019710.0,5144282.0,5211052.0,5577201.0,5830565.0,5917595.0,6163350.0,6766583.0,...,7829612.0,8333437.0,8824822.0,8828355.0,9371247.0,9756483.0,10013091.0,10434635.0,11001031.0,11479279.0
381,49620,"York-Hanover, PA (Metropolitan Statistical Area)",11154009.0,11509110.0,11778862.0,12454034.0,13738296.0,14765850.0,15183136.0,16608860.0,...,17537523.0,18076311.0,18368933.0,18359096.0,18908619.0,19792567.0,20489705.0,21367688.0,22342240.0,23164517.0
382,49660,"Youngstown-Warren-Boardman, OH-PA (Metropolita...",14990751.0,15549028.0,15781882.0,16326317.0,16751141.0,17194841.0,18119937.0,18549929.0,...,18590681.0,19801916.0,20170938.0,20194642.0,20811376.0,21386119.0,21562579.0,21999089.0,22742602.0,23140742.0
383,49700,"Yuba City, CA (Metropolitan Statistical Area)",3280919.0,3405713.0,3577677.0,3855444.0,4157564.0,4406327.0,4803055.0,5146791.0,...,5588084.0,5782548.0,5798480.0,6050781.0,6264491.0,6773110.0,7027920.0,7200914.0,7593081.0,8041182.0
384,49740,"Yuma, AZ (Metropolitan Statistical Area) *",2884843.0,3064465.0,3320946.0,3587939.0,4015060.0,4281382.0,4529461.0,4858732.0,...,5368937.0,5672331.0,5611615.0,5886587.0,5989668.0,6435455.0,6741154.0,7116699.0,7408956.0,7818246.0

In [5]:
# set reference column for GeoFips names
df_names = df[["GeoFips","GeoName"]]
df_names.set_index("GeoFips", inplace=True)
df_names.head()

                                                   GeoName
GeoFips
998                   United States (Metropolitan Portion)
10180          Abilene, TX (Metropolitan Statistical Area)
10420            Akron, OH (Metropolitan Statistical Area)
10500           Albany, GA (Metropolitan Statistical Area)
10540    Albany-Lebanon, OR (Metropolitan Statistical A...

In [6]:
# drop GeoName column for easier cleaning of data
df.drop(columns=["GeoName"], inplace=True)
df.head()

,GeoFips,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,998,7.647166e+09,7.946990e+09,8.084385e+09,8.364828e+09,8.852329e+09,9.369452e+09,1.008741e+10,1.064499e+10,1.100691e+10,...,1.107497e+10,1.176136e+10,1.239031e+10,1.253777e+10,1.328747e+10,1.397631e+10,1.440384e+10,1.512754e+10,1.595183e+10,1.658802e+10
1,10180,3.675392e+06,3.753367e+06,3.905004e+06,4.137066e+06,4.325061e+06,4.552568e+06,4.850810e+06,5.119572e+06,5.632799e+06,...,5.705250e+06,6.052939e+06,6.356517e+06,6.534805e+06,7.010125e+06,6.872897e+06,6.797808e+06,6.966419e+06,7.459618e+06,7.837655e+06
2,10420,2.075057e+07,2.109954e+07,2.141577e+07,2.225079e+07,2.309501e+07,2.372537e+07,2.466221e+07,2.594289e+07,2.700381e+07,...,2.688670e+07,2.802372e+07,2.886198e+07,2.941170e+07,3.082144e+07,3.173173e+07,3.215367e+07,3.345507e+07,3.488022e+07,3.594412e+07
3,10500,3.448146e+06,3.544067e+06,3.695068e+06,3.833427e+06,3.930646e+06,4.064538e+06,4.154201e+06,4.311977e+06,4.490088e+06,...,4.727287e+06,5.075541e+06,5.101696e+06,5.051615e+06,5.168357e+06,5.272524e+06,5.324540e+06,5.446810e+06,5.622985e+06,5.857583e+06
4,10540,2.375900e+06,2.593500e+06,2.670594e+06,2.730439e+06,2.914377e+06,3.029078e+06,3.282355e+06,3.446514e+06,3.562032e+06,...,3.697969e+06,3.825868e+06,3.964446e+06,4.026793e+06,4.293341e+06,4.610378e+06,4.836624e+06,5.147507e+06,5.522081e+06,5.816653e+06

In [7]:
# Transpose data to show years as the row and GeoFips code as columns
df_transposed = df.transpose()
df_transposed.head()

,0,1,2,3,4,5,6,7,8,9,...,375,376,377,378,379,380,381,382,383,384
GeoFips,998,10180,10420,10500,10540,10580,10740,10780,10900,11020,...,48700,48900,49020,49180,49340,49420,49620,49660,49700,49740
2000,7.64717e+09,3.67539e+06,2.07506e+07,3.44815e+06,2.3759e+06,2.68007e+07,1.96274e+07,3.39746e+06,2.25696e+07,3.21604e+06,...,2.82655e+06,5.56142e+06,2.74796e+06,1.64833e+07,2.78748e+07,5.01971e+06,1.1154e+07,1.49908e+07,3.28092e+06,2.88484e+06
2001,7.94699e+09,3.75337e+06,2.10995e+07,3.54407e+06,2.5935e+06,2.80997e+07,2.0616e+07,3.70227e+06,2.42387e+07,3.25563e+06,...,2.99126e+06,5.82085e+06,2.95972e+06,1.68865e+07,2.8933e+07,5.14428e+06,1.15091e+07,1.5549e+07,3.40571e+06,3.06446e+06
2002,8.08438e+09,3.905e+06,2.14158e+07,3.69507e+06,2.67059e+06,2.83581e+07,2.14023e+07,3.82859e+06,2.50102e+07,3.34717e+06,...,3.06553e+06,5.92227e+06,3.05798e+06,1.71567e+07,2.90353e+07,5.21105e+06,1.17789e+07,1.57819e+07,3.57768e+06,3.32095e+06
2003,8.36483e+09,4.13707e+06,2.22508e+07,3.83343e+06,2.73044e+06,2.93581e+07,2.24024e+07,3.87396e+06,2.59102e+07,3.47374e+06,...,3.164e+06,6.22522e+06,3.26135e+06,1.77522e+07,3.01546e+07,5.5772e+06,1.2454e+07,1.63263e+07,3.85544e+06,3.58794e+06

In [8]:
# reset the index
df_transposed.reset_index(inplace=True)
df_transposed.head(1)

,index,0,1,2,3,4,5,6,7,8,...,375,376,377,378,379,380,381,382,383,384
0,GeoFips,998,10180,10420,10500,10540,10580,10740,10780,10900,...,48700,48900,49020,49180,49340,49420,49620,49660,49700,49740

In [9]:
# set the column headers as the first row
df_transposed.columns = df_transposed.iloc[0]
df_transposed.head()

,GeoFips,998,10180,10420,10500,10540,10580,10740,10780,10900,...,48700,48900,49020,49180,49340,49420,49620,49660,49700,49740
0,GeoFips,998,10180,10420,10500,10540,10580,10740,10780,10900,...,48700,48900,49020,49180,49340,49420,49620,49660,49700,49740
1,2000,7.64717e+09,3.67539e+06,2.07506e+07,3.44815e+06,2.3759e+06,2.68007e+07,1.96274e+07,3.39746e+06,2.25696e+07,...,2.82655e+06,5.56142e+06,2.74796e+06,1.64833e+07,2.78748e+07,5.01971e+06,1.1154e+07,1.49908e+07,3.28092e+06,2.88484e+06
2,2001,7.94699e+09,3.75337e+06,2.10995e+07,3.54407e+06,2.5935e+06,2.80997e+07,2.0616e+07,3.70227e+06,2.42387e+07,...,2.99126e+06,5.82085e+06,2.95972e+06,1.68865e+07,2.8933e+07,5.14428e+06,1.15091e+07,1.5549e+07,3.40571e+06,3.06446e+06
3,2002,8.08438e+09,3.905e+06,2.14158e+07,3.69507e+06,2.67059e+06,2.83581e+07,2.14023e+07,3.82859e+06,2.50102e+07,...,3.06553e+06,5.92227e+06,3.05798e+06,1.71567e+07,2.90353e+07,5.21105e+06,1.17789e+07,1.57819e+07,3.57768e+06,3.32095e+06
4,2003,8.36483e+09,4.13707e+06,2.22508e+07,3.83343e+06,2.73044e+06,2.93581e+07,2.24024e+07,3.87396e+06,2.59102e+07,...,3.164e+06,6.22522e+06,3.26135e+06,1.77522e+07,3.01546e+07,5.5772e+06,1.2454e+07,1.63263e+07,3.85544e+06,3.58794e+06

In [10]:
# drop the duplicated columns
df_transposed.drop([0], inplace=True)
df_transposed.head()

,GeoFips,998,10180,10420,10500,10540,10580,10740,10780,10900,...,48700,48900,49020,49180,49340,49420,49620,49660,49700,49740
1,2000,7.64717e+09,3.67539e+06,2.07506e+07,3.44815e+06,2.3759e+06,2.68007e+07,1.96274e+07,3.39746e+06,2.25696e+07,...,2.82655e+06,5.56142e+06,2.74796e+06,1.64833e+07,2.78748e+07,5.01971e+06,1.1154e+07,1.49908e+07,3.28092e+06,2.88484e+06
2,2001,7.94699e+09,3.75337e+06,2.10995e+07,3.54407e+06,2.5935e+06,2.80997e+07,2.0616e+07,3.70227e+06,2.42387e+07,...,2.99126e+06,5.82085e+06,2.95972e+06,1.68865e+07,2.8933e+07,5.14428e+06,1.15091e+07,1.5549e+07,3.40571e+06,3.06446e+06
3,2002,8.08438e+09,3.905e+06,2.14158e+07,3.69507e+06,2.67059e+06,2.83581e+07,2.14023e+07,3.82859e+06,2.50102e+07,...,3.06553e+06,5.92227e+06,3.05798e+06,1.71567e+07,2.90353e+07,5.21105e+06,1.17789e+07,1.57819e+07,3.57768e+06,3.32095e+06
4,2003,8.36483e+09,4.13707e+06,2.22508e+07,3.83343e+06,2.73044e+06,2.93581e+07,2.24024e+07,3.87396e+06,2.59102e+07,...,3.164e+06,6.22522e+06,3.26135e+06,1.77522e+07,3.01546e+07,5.5772e+06,1.2454e+07,1.63263e+07,3.85544e+06,3.58794e+06
5,2004,8.85233e+09,4.32506e+06,2.3095e+07,3.93065e+06,2.91438e+06,3.06587e+07,2.38387e+07,4.14846e+06,2.73715e+07,...,3.27648e+06,6.86603e+06,3.57717e+06,1.90209e+07,3.17744e+07,5.83056e+06,1.37383e+07,1.67511e+07,4.15756e+06,4.01506e+06

In [11]:
# melt the dataframe to show a single row for every GeoFips code by year
df_clean = df_transposed.melt(
    id_vars = ["GeoFips"],
    var_name = "Year",
    value_name = "Personal Income"
)
df_clean.head()

  GeoFips Year Personal Income
0    2000  998     7.64717e+09
1    2001  998     7.94699e+09
2    2002  998     8.08438e+09
3    2003  998     8.36483e+09
4    2004  998     8.85233e+09

In [12]:
# rename the columns correctly
df_clean = df_clean.rename(columns={"GeoFips":"Year", "Year":"GeoFips"})
df_clean.head()

   Year GeoFips Personal Income
0  2000     998     7.64717e+09
1  2001     998     7.94699e+09
2  2002     998     8.08438e+09
3  2003     998     8.36483e+09
4  2004     998     8.85233e+09

In [13]:
# set the GeoFips column as the index
df_clean.set_index("GeoFips", inplace=True)
df_clean.head()

         Year Personal Income
GeoFips
998      2000     7.64717e+09
998      2001     7.94699e+09
998      2002     8.08438e+09
998      2003     8.36483e+09
998      2004     8.85233e+09

In [14]:
# merge the cleaned df with the reference df to pull in GeoName
df_clean_names = pd.concat([df_clean, df_names], join="inner", axis="columns")
df_clean_names.head()

         Year Personal Income                               GeoName
GeoFips
998      2000     7.64717e+09  United States (Metropolitan Portion)
998      2001     7.94699e+09  United States (Metropolitan Portion)
998      2002     8.08438e+09  United States (Metropolitan Portion)
998      2003     8.36483e+09  United States (Metropolitan Portion)
998      2004     8.85233e+09  United States (Metropolitan Portion)

In [15]:
# re-order the columns
df_clean_names = df_clean_names[["GeoName","Year","Personal Income"]]
df_clean_names.head()

                                      GeoName  Year Personal Income
GeoFips
998      United States (Metropolitan Portion)  2000     7.64717e+09
998      United States (Metropolitan Portion)  2001     7.94699e+09
998      United States (Metropolitan Portion)  2002     8.08438e+09
998      United States (Metropolitan Portion)  2003     8.36483e+09
998      United States (Metropolitan Portion)  2004     8.85233e+09

In [16]:
# drop the United States combined data, not needed for project
df_clean_names.drop("998", inplace=True)
df_clean_names.head()

                                             GeoName  Year Personal Income
GeoFips
10180    Abilene, TX (Metropolitan Statistical Area)  2000     3.67539e+06
10180    Abilene, TX (Metropolitan Statistical Area)  2001     3.75337e+06
10180    Abilene, TX (Metropolitan Statistical Area)  2002       3.905e+06
10180    Abilene, TX (Metropolitan Statistical Area)  2003     4.13707e+06
10180    Abilene, TX (Metropolitan Statistical Area)  2004     4.32506e+06

In [18]:
# create cleaned csv
df_clean_names.to_csv("personal_income_cleaned.csv", index=True)