In [1]:
#import libraries for mapbox
import pandas as pd
import os
from pathlib import Path
from dotenv import load_dotenv

In [2]:
#read in data
data_path = (Path("clean_data/employment_income_population_cleaned.csv"))
df = pd.read_csv(data_path)
df.head()

   GeoFips          MSA  Year  Population  Personal Income  Number Jobs
0    10180  Abilene, TX  2000    160288.0        3675392.0      91027.0
1    10180  Abilene, TX  2001    158917.0        3753367.0      89511.0
2    10180  Abilene, TX  2002    159012.0        3905004.0      90338.0
3    10180  Abilene, TX  2003    158810.0        4137066.0      91132.0
4    10180  Abilene, TX  2004    160156.0        4325061.0      91998.0

In [3]:
#filter for 2019 only
df_2019 = df.loc[df['Year'] == 2019]
df_2019.head()

,GeoFips,MSA,Year,Population,Personal Income,Number Jobs
19,10180,"Abilene, TX",2019,172060.0,7837655.0,107405.0
39,10420,"Akron, OH",2019,703479.0,35944121.0,433800.0
59,10500,"Albany, GA",2019,146726.0,5857583.0,83286.0
79,10540,"Albany-Lebanon, OR",2019,129749.0,5816653.0,64277.0
99,10580,"Albany-Schenectady-Troy, NY",2019,880381.0,53498359.0,579135.0

In [4]:
#sort for largest 20 MSAs by Population
df_top_20 = df_2019.nlargest(20, 'Population')
df_top_20

,GeoFips,MSA,Year,Population,Personal Income,Number Jobs
4999,35620,"New York-Newark-Jersey City, NY-NJ-PA",2019,19216182.0,1.534294e+09,13142753.0
4219,31080,"Los Angeles-Long Beach-Anaheim, CA",2019,13214799.0,8.812155e+08,9027619.0
1379,16980,"Chicago-Naperville-Elgin, IL-IN-WI",2019,9458539.0,6.006168e+08,6216332.0
1739,19100,"Dallas-Fort Worth-Arlington, TX",2019,7573136.0,4.447303e+08,5226844.0
3199,26420,"Houston-The Woodlands-Sugar Land, TX",2019,7066141.0,4.161215e+08,4401003.0
7319,47900,"Washington-Arlington-Alexandria, DC-VA-MD-WV",2019,6280487.0,4.671764e+08,4518171.0
4519,33100,"Miami-Fort Lauderdale-Pompano Beach, FL",2019,6166488.0,3.759443e+08,4201387.0
5399,37980,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",2019,6102434.0,4.063999e+08,3918093.0
359,12060,"Atlanta-Sandy Springs-Alpharetta, GA",2019,6020364.0,3.284501e+08,3976488.0
5419,38060,"Phoenix-Mesa-Chandler, AZ",2019,4948203.0,2.378365e+08,2886513.0
859,14460,"Boston-Cambridge-Newton, MA-NH",2019,4873019.0,3.971392e+08,3743187.0
6239,41860,"San Francisco-Oakland-Berkeley, CA",2019,4731803.0,4.964668e+08,3480410.0
5839,40140,"Riverside-San Bernardino-Ontario, CA",2019,4650631.0,1.964530e+08,2186300.0
1959,19820,"Detroit-Warren-Dearborn, MI",2019,4319629.0,2.340010e+08,2659945.0
6419,42660,"Seattle-Tacoma-Bellevue, WA",2019,3979845.0,3.107178e+08,2739330.0
4619,33460,"Minneapolis-St. Paul-Bloomington, MN-WI",2019,3640043.0,2.338901e+08,2565549.0
6219,41740,"San Diego-Chula Vista-Carlsbad, CA",2019,3338330.0,2.127486e+08,2204327.0
6859,45300,"Tampa-St. Petersburg-Clearwater, FL",2019,3194831.0,1.562534e+08,1886364.0
1919,19740,"Denver-Aurora-Lakewood, CO",2019,2967239.0,1.995039e+08,2142948.0
6079,41180,"St. Louis, MO-IL",2019,2803228.0,1.595670e+08,1813241.0

In [5]:
df_top_20.reset_index(inplace= True)
df_top_20

,index,GeoFips,MSA,Year,Population,Personal Income,Number Jobs
0,4999,35620,"New York-Newark-Jersey City, NY-NJ-PA",2019,19216182.0,1.534294e+09,13142753.0
1,4219,31080,"Los Angeles-Long Beach-Anaheim, CA",2019,13214799.0,8.812155e+08,9027619.0
2,1379,16980,"Chicago-Naperville-Elgin, IL-IN-WI",2019,9458539.0,6.006168e+08,6216332.0
3,1739,19100,"Dallas-Fort Worth-Arlington, TX",2019,7573136.0,4.447303e+08,5226844.0
4,3199,26420,"Houston-The Woodlands-Sugar Land, TX",2019,7066141.0,4.161215e+08,4401003.0
5,7319,47900,"Washington-Arlington-Alexandria, DC-VA-MD-WV",2019,6280487.0,4.671764e+08,4518171.0
6,4519,33100,"Miami-Fort Lauderdale-Pompano Beach, FL",2019,6166488.0,3.759443e+08,4201387.0
7,5399,37980,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",2019,6102434.0,4.063999e+08,3918093.0
8,359,12060,"Atlanta-Sandy Springs-Alpharetta, GA",2019,6020364.0,3.284501e+08,3976488.0
9,5419,38060,"Phoenix-Mesa-Chandler, AZ",2019,4948203.0,2.378365e+08,2886513.0
10,859,14460,"Boston-Cambridge-Newton, MA-NH",2019,4873019.0,3.971392e+08,3743187.0
11,6239,41860,"San Francisco-Oakland-Berkeley, CA",2019,4731803.0,4.964668e+08,3480410.0
12,5839,40140,"Riverside-San Bernardino-Ontario, CA",2019,4650631.0,1.964530e+08,2186300.0
13,1959,19820,"Detroit-Warren-Dearborn, MI",2019,4319629.0,2.340010e+08,2659945.0
14,6419,42660,"Seattle-Tacoma-Bellevue, WA",2019,3979845.0,3.107178e+08,2739330.0
15,4619,33460,"Minneapolis-St. Paul-Bloomington, MN-WI",2019,3640043.0,2.338901e+08,2565549.0
16,6219,41740,"San Diego-Chula Vista-Carlsbad, CA",2019,3338330.0,2.127486e+08,2204327.0
17,6859,45300,"Tampa-St. Petersburg-Clearwater, FL",2019,3194831.0,1.562534e+08,1886364.0
18,1919,19740,"Denver-Aurora-Lakewood, CO",2019,2967239.0,1.995039e+08,2142948.0
19,6079,41180,"St. Louis, MO-IL",2019,2803228.0,1.595670e+08,1813241.0

In [6]:
df_top_20.drop(columns = ['index', 'Personal Income', 'Number Jobs'], inplace = True)
df_top_20

    GeoFips                                           MSA  Year  Population
0     35620         New York-Newark-Jersey City, NY-NJ-PA  2019  19216182.0
1     31080            Los Angeles-Long Beach-Anaheim, CA  2019  13214799.0
2     16980            Chicago-Naperville-Elgin, IL-IN-WI  2019   9458539.0
3     19100               Dallas-Fort Worth-Arlington, TX  2019   7573136.0
4     26420          Houston-The Woodlands-Sugar Land, TX  2019   7066141.0
5     47900  Washington-Arlington-Alexandria, DC-VA-MD-WV  2019   6280487.0
6     33100       Miami-Fort Lauderdale-Pompano Beach, FL  2019   6166488.0
7     37980   Philadelphia-Camden-Wilmington, PA-NJ-DE-MD  2019   6102434.0
8     12060          Atlanta-Sandy Springs-Alpharetta, GA  2019   6020364.0
9     38060                     Phoenix-Mesa-Chandler, AZ  2019   4948203.0
10    14460                Boston-Cambridge-Newton, MA-NH  2019   4873019.0
11    41860            San Francisco-Oakland-Berkeley, CA  2019   4731803.0
12    40140          Riverside-San Bernardino-Ontario, CA  2019   4650631.0
13    19820                   Detroit-Warren-Dearborn, MI  2019   4319629.0
14    42660                   Seattle-Tacoma-Bellevue, WA  2019   3979845.0
15    33460       Minneapolis-St. Paul-Bloomington, MN-WI  2019   3640043.0
16    41740            San Diego-Chula Vista-Carlsbad, CA  2019   3338330.0
17    45300           Tampa-St. Petersburg-Clearwater, FL  2019   3194831.0
18    19740                    Denver-Aurora-Lakewood, CO  2019   2967239.0
19    41180                              St. Louis, MO-IL  2019   2803228.0

In [7]:
df_top_20.to_csv('Top20_MSA.csv')